.root {
  display        : flex;
  align-items    : center;
  justify-content: center;
  position       : relative;
}


.spinner {
  z-index  : 2;
  top      : 50%;
  left     : 50%;
  width    : 50px;
  height   : 50px;
  position : absolute;
  margin   : -25px 0 0 -25px;
  animation: rotate 2s linear infinite;
}

.spinner>.path {
  stroke-linecap: round;
  stroke        : #BAC9E9;
  animation     : dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray : 1, 150;
  }

  50% {
    stroke-dashoffset: -35;
    stroke-dasharray : 90, 150;
  }

  100% {
    stroke-dashoffset: -124;
    stroke-dasharray : 90, 150;
  }
}